body {
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/013/853/980/non_2x/seamless-colorful-pattern-with-dogs-and-paws-background-for-pet-shop-veterinary-clinic-pet-store-zoo-shelter-flat-style-design-illustration-vector.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 120px; */
    background-color: aqua; 
}
